@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
  padding:0;
  margin: 0;
font-family:'Outfit', sans-serif;
}
body{
 
  background-color:hsl(212, 45%, 89%);
 display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.card{
background-color:hsl(0, 0%, 100%);
padding: 15px;
border-radius: 20px;
width: 280px;
height: 480px;
}
.card-icon{
  max-width: 100%;
  height: auto;
  border-radius:10px;
}

.title{
  margin-top:20px ;
 color:hsl(218, 44%, 22%);
 text-align: center;
}
.title-description{
   margin-top:5px ;
  text-align: center;
   padding: 15px;
   Font-size: 15px;
   color:hsl(220, 15%, 55%);
}
